.download-list {
  .download {
    /* Collapsed download panel */
    .panel-body.collapse {
      display: inherit;
      padding: 0;
      height: 2px;
      
      .progress {
        border-radius: 0;
      }
    }
    .progress {
      margin-bottom: 0;
    }
  }
}